.listaDevs {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  flex-wrap: wrap;
  gap: 50px;
  padding: 0 8px;
}

.listaDevs__card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 300px;
  flex-direction: column;
  background-color: rgba(249, 249, 249, 0.14);
  border-radius: 10px;
  font-family: var(--maven);
  position: relative;
  border: 1px solid rgba(249, 249, 249, 0.137);
  transition: .4s;
}

.listaDevs__card:hover {
  transform: scale(1.02);
}

.card__avatar {
  width: 175px;
  height: 175px;
  border-radius: 50%;
  border: 2px solid var(--green);
  background-color: var(--green);
}

.card__nome {
  font-weight: 500;
  font-size: 25.6413px;
  line-height: 30px;
}

.card__nome::before {
  content: '';
  display: block;
  width: 125px;
  background-color: var(--green);
  height: 2px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 10px;
}

.card__cargo {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  padding: 4px 16px;
  border-radius: 16px;
  background-color: #27ae5f65;
  border: 1px solid #27AE60;
  margin-top: 8px;
  transition: .2s;
  cursor: default;
}

.card__social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 34px;
}

.card__social a {
  margin: 0 6px;
  transition: .4s;
}

.card__social a:hover {
  transform: translateY(-4px);
}

.card__actions {
  position: absolute;
  top: 16px;
  right: 8px;
}

.card__actions button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #f9f9f9;
}

.card__actions button > svg {
  font-size: 24px;
  transition: .3s;
}

.action__edit:hover {
  color: #DBB801;
}

.action__delete:hover {
  color: #F42626;
}

.button.card__button {
  height: 100%;
  margin-left: 16px;
  background-color: transparent;
  border: 1px solid #f9f9f9;
  color: #f9f9f9;
  font-weight: 500;
}

.button.card__button:hover {
  border-color: var(--green);
  color: var(--green);
}

.listaDevs svg {
  display: block;
  max-width: 240px;
  margin: auto;
}

.listaDevs__monkey h2 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 24px;
  color: #ececec;
  line-height: 1.2;
}

.listaDevs__monkey span {
  display: inline-block;
  font-size: 20px;
  text-align: center;
  color: #6FCF97;
  font-weight: 600;
  margin-bottom: 12px;
}

@media screen and (max-width: 1023px) {
  .listaDevs{
    margin-top: 200px;
    padding-bottom: 80px;
  }

  .listaDevs__monkey span {
    display: block;
  }
}
